{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
    </style>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <title>Página Inicial</title>
    

</head>

<body>
    <!-- Div principal que envolve todo o conteúdo da página -->
    <div class="base">

        <!-- Cabeçalho da página com logo e botão de login -->
        <header>
            <!-- Área da logo -->
            <div class="logo"><img src="{% static 'img/logo.png' %}" alt=""></div>

            <!-- Botão CTA para ir à página de login -->
            <div class="cta">
                <a href="{% url 'inicio:telalogin'%}"><button>Login</button></a> <!-- TROCAR PARA A TELA LOGIN-->
            </div>
        </header>

        <main>
            <!-- Título principal da página -->
            <div class="title">
                <p>Sistema Integrado de Controle de Queima</p>
            </div>

            <!-- Container central para o texto de apresentação -->
            <div class="container">
                <!-- Texto explicativo sobre o projeto -->
                <div class="text">
                    <p>
                        Este site tem como objetivo apresentar as informações gerais, o escopo, os objetivos e o
                        andamento deste projeto. Aqui você encontrará detalhes sobre as entregas previstas,
                        responsáveis, cronograma, investimentos e demais dados relevantes para o acompanhamento e
                        transparência do processo.
                        <br><br>
                        Todas as etapas foram planejadas com base em necessidades identificadas, buscando gerar valor
                        para os clientes e partes interessadas, com foco em qualidade, prazo e resultados.
                    </p>
                </div>
            </div>

        </main>
    </div>
</body>


</html>