* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Rubik", sans-serif;
}

/* ===== FUNDO ===== */
.fundo {
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #f2b544, #86a244, #238b3b, #006233);
  position: relative;
  overflow: hidden;
}

/* ===== BOTÃO MENU PRINCIPAL ===== */
.menu-icon {
  position: absolute;
  top: 22px;
  left: 28px;
  width: 26px;
  height: 26px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
  cursor: pointer;
  z-index: 1002;
  transition: opacity 0.3s ease;
}

.menu-icon div {
  background-color: white;
  width: 7px;
  height: 7px;
  border-radius: 1px;
}

/* ===== ESCONDER MENU PRINCIPAL ===== */
.menu-icon.hidden {
  display: none !important;
}

/* ===== LOGO DIREITA ===== */
.topo {
  position: absolute;
  top: 17px;
  right: 20px;
}

.logo {
  width: 140px;
  height: auto;
}

/* ===== LOGOUT ===== */
.logout-icon {
  position: absolute;
  top: 75px;
  right: 28px;
  color: white;
  cursor: pointer;
  opacity: 0.9;
  font-size: 22px;
}

/* ===== SUBMENU ===== */
.submenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 341px;
  height: 100vh;
  flex-shrink: 0;
  background: linear-gradient(-45deg, #f2b544, #86a244, #238b3b, #006233);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transform: translateX(-110%);
  transition: transform 0.4s ease;
  z-index: 1000;
}

/* ===== CABEÇALHO SUBMENU ===== */
.submenu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.logo-submenu {
  width: 214px;
  height: 59px;
  flex-shrink: 0;
  aspect-ratio: 214/59;
}

/* ===== ÍCONE DENTRO DO SUBMENU ===== */
.submenu .menu-close {
  width: 29px;
  height: 27px;
  flex-shrink: 0;
  cursor: pointer;
}

.submenu .submenu-close div {
  background-color: white;
  width: 6px;
  height: 6px;
  border-radius: 2px;
}

/* ===== QUANDO VISÍVEL ===== */
.submenu.visible {
  transform: translateX(0);
}

/* ===== INFO BOX ===== */
.info-box {
  width: 285px;
  height: 130px;
  color: #008445;
  border-radius: 3px;
  border: 0.3px solid #008445;
  background: #fff;
  cursor: pointer;
}

.info-box:hover {
  background-color: #e5f3e7;
}

/* ===== ESTILIZAR OS PARÁGRAFOS ===== */
.info-box p {
  margin: 10px 0; /* Espaçamento entre linhas */
  font-size: 13px; /* Tamanho da fonte */
  font-weight: normal; /* Peso da fonte */
  line-height: 1.4; /* Espaçamento entre linhas */
  margin-left: 6%;
  margin-top: 6%;
}

/* ===== ESTILIZAR APENAS OS TÍTULOS===== */
.info-box p strong {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 3px; /* Pequeno espaço abaixo do título */
  color: #008445;
}

/* ===== ÍCONE DE PERFIL ===== */

.icon {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  margin-left: 82%;
  margin-top: -37%;
  fill: #008445;
}

/* ===== BOTÕES ===== */
.menu-item {
  width: 285px;
  height: 51.818px;
  border-radius: 3px;
  border: 0.3px solid #008445;
  color: #008445;
  font-family: Rubik;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: flex; /* alinha SVG e texto em linha */
  align-items: center; /* centraliza verticalmente */
  gap: 8px; /* espaço entre ícone e texto */
  padding: 0 16px;
  cursor: pointer;
  background: #fff;
}

.menu-item:hover {
  background-color: #e5f3e7;
}

.arrow {
  margin-left: auto;
  margin-top: 16px;
}

/* =====  ÍCONE LÁPIS DE GERAÇÃO DE RELATÓRIOS ===== */
.icone-lapis {
  width: 10px;
  height: 10px;
  margin-top: 17px;
  margin-left: -80%;
  fill: #008445;
}

/* =====  ÍCONE SETA DO CADASTRO ===== */
.icone-seta {
  width: 14px;
  height: 13px;
  margin-left: 40%;
  fill: #008445;
}

/* ===== QUADRADO BRANCO ===== */
.white-box {
  width: 88.95%;
  height: 85%;
  background: #f5f7fb;
  margin-top: 75px;
  margin-left: 6%;
  flex-direction: column;
  display: flex;
}

/* ===== DESFOQUE DO FUNDO ===== */
body.blurred::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2.5px);
  background: rgba(0, 0, 0, 0.12);
  z-index: 999;
  pointer-events: none;
}

@media (width <= 768px) {
}

/* ===== CONTAINER PRINCIPAL ===== */
.menu-cadastros {
  width: 285px;
  font-family: sans-serif;
}

/* Ajuste da seta */
.icone-seta {
  margin-left: 40%;
  transition: transform 0.3s ease;
  cursor: pointer;
}

/* Quando aberto: seta gira */
.menu-cadastros.open .icone-seta {
  transform: rotate(180deg);
}

/* ===== SUBMENU2 PARA ALTERAR OS SUBBOTÕES ===== */
.sub-menu {
  display: none; /* invisível até clicar */
  flex-direction: column;
  width: 100%;
  border-left: 1px solid #008445;
  border-right: 1px solid #008445;
  border-bottom: 1px solid #008445;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

/* Quando estiver aberto */
.menu-cadastros.open .sub-menu {
  display: flex;
}

/* ===== SUB-BOTÕES ===== */
.sub-btn {
  background: #fff;
  border: none;
  border-radius: 0;
  padding: 10px;
  color: #006c39;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-family: Rubik;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

/* ===== HOVER ===== */
.menu-item2:hover,
.sub-btn:hover {
  background: #e9f5e8;
}

/* =====  ÍCONE LÁPIS DE CADASTRO DE EQUIPAMENTO ===== */
.icone-lapis1 {
  width: 10px;
  height: 10px;
  margin-top: 17px;
  margin-left: -90%;
  fill: #008445;
}

/* =====  ÍCONE LÁPIS DE CADASTRO DE OPERADOR ===== */
.icone-lapis2 {
  width: 10px;
  height: 10px;
  margin-top: 17px;
  margin-left: -79%;
  fill: #008445;
}

/* =====  ÍCONE LÁPIS DE CADASTRO DE PLATAFORMA ===== */
.icone-lapis3 {
  width: 10px;
  height: 10px;
  margin-top: 17px;
  margin-left: -84%;
  fill: #008445;
}

/* =====  BOTÃO DE CADASTRO ===== */
#btnCadastros {
  width: 285px;
  height: 51.818px;
  border-radius: 3px;
  border-top: 0.3px solid #008445;
  border-right: 0.3px solid #008445;
  border-left: 0.3px solid #008445;
  border-bottom: 0.3px solid #008445;
  color: #008445;
  font-family: Rubik;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: flex; /* alinha SVG e texto em linha */
  align-items: center; /* centraliza verticalmente */
  gap: 8px; /* espaço entre ícone e texto */
  padding: 0 16px;
  background: #fff;
}

/* ===== HOVER ===== */
#btnCadastros:hover {
  background: #e5f3e7;
}

/* ======== REMOVE A BORDA DE BAIXO DO CADASTRO QUANDO OS SUBBOTÕES ESTIVEREM APARECENDO ======== */
#btnCadastros.active {
  border-bottom: none; /* remove a borda */
}

.white-box2 {
  position: absolute;
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  width: 90rem;
  height: 40rem;
  margin: 8rem 0 0 8rem;
  border-radius: 3px;
  background: #FFF;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
  top: 3.5rem;
}

#central {
  display: flex;
  flex-direction: row;
  padding-top: 55px;
  padding-left: 55px;
  gap: 35px;
}

#central 

.pesquisa {
  width: 158px;
  color: #5c5c5c;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.preencher {
  width: 522px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #b3b3b3;
  background: #fff;
  display: flex;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
  margin-left: -2px;
}

.status {
  width: 53px;
  color: #5c5c5c;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  
}

.preencher2 {
  width: 200px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #b3b3b3;
  background: #fff;
  align-items: center;
  margin-top: 10px;
}

.id-input {
  width: 53px;
  color: #5c5c5c;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.preencher4 {
  width: 200px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #b3b3b3;
  background: #fff;
  margin-top: 10px;
}

.area {
  width: 53px;
  color: #5c5c5c;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.preencher3 {
  width: 200px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #b3b3b3;
  background: #fff;
  margin-top: 10px;
}

.title-equipamento {
    position: absolute;
    width: 460px;
    color: #000;
    font-family: Rubik;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 2%;
    margin-left: 8%;
}

.title-vizualizar {
    position: absolute;
    width: 308px;
    color: #5C5C5C;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    margin-top: 3.7%;
    margin-left: 15.4%;
}

.title-icone {
    position: absolute;
    width: 41px;
    height: 6px;
    flex-shrink: 0;
    margin-top: 4.4%;
    margin-left: 8.1%;
    background: #F2B544;
}

/* CONTAINER */
.tabela-cabecalho {
  display: flex;
  margin-top: 30px;
  margin-left: 55px;

}

.tabela-cabecalho div {
  display: block;
  color: #5C5C5C;
  font-family: Rubik;

}

.input {
  width: 1300px;
  height: 46px;
  border-radius: 3px;
  border: 1px solid #B3B3B3;
  background: #FFF;
  text-align: center;
  margin-top: 15px;
  margin-left: 55px;
  }


/* AJUSTES INDIVIDUAIS*/

.id{
  margin-left: 160px;
}

.nome_do_equipamento{
   margin-left: 225px;
}

.status2{
  margin-left: 240px;
}

.area2{
  margin-left: 295px;
}


.icone-pesquisa {
  width: 21px;
  height: 21px;
  fill: #B3B3B3;
  margin-left: 490px; /* move para a esquerda */
  cursor: pointer;
}

.icone-seta {
  width: 14px;
  height: 10px;
  fill: #B3B3B3;
  margin-left: 170px; /* move para a esquerda */
  margin-top: 18px;
  cursor: pointer;
}

.icone-seta2 {
  width: 14px;
  height: 10px;
  fill: #B3B3B3;
  margin-left: 170px; /* move para a esquerda */
  margin-top: 18px;
  cursor: pointer;
}

/* IMPUT DO ID NOME EQUIPAMENTO STATUS E ÁREA */

  .quadrado-input {
    width: 26px;
    height: 26px;
    border-radius: 3px;
    border: 0.5px solid #B3B3B3;
    margin-left: 15px; /* move para a esquerda */
    margin-top: 9px;
    cursor: pointer;
  }

/* SVG começa invisível */
.icone-check {
  opacity: 0;
  width: 20px;
  height: 15px;
  fill: #008445;
  stroke: #008445;
  stroke-width: 1px;
  transition: opacity 0.2s ease;
  margin-top: 5px;
}

/* quando clicado */
.quadrado-input.ativo .icone-check {
  opacity: 1;
}


  .id-teste {
    width: 75px;
    color: #5C5C5C;
    font-family: Rubik;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 130px; /* move para a esquerda */
    margin-top: -20px;
  }

  .equipamento-teste {
    width: 174px;
    color: #5C5C5C;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 395px; /* move para a esquerda */
    margin-top: -20px;
  }

  .status-teste {
    width: 54px;
    color: #5C5C5C;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 805px; /* move para a esquerda */
    margin-top: -20px;
  }

  .area-teste {
    width: 65px;
    color: #5C5C5C;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1140px; /* move para a esquerda */
    margin-top: -18px;
  }